
.avtar--rounded {
    border-radius: 50% !important;
}

.avtar {
    height: 60px;
    position: relative;
    width: 60px;
    overflow: hidden;
}

.avtar--rounded img {
    border-radius: 100% !important;
}