 @-webkit-keyframes moltinShake {
     12.5% {
         -webkit-transform: translateX(-6px) rotateY(-5deg);
         transform: translateX(-6px) rotateY(-5deg)
     }

     37.5% {
         -webkit-transform: translateX(5px) rotateY(4deg);
         transform: translateX(5px) rotateY(4deg)
     }

     62.5% {
         -webkit-transform: translateX(-3px) rotateY(-2deg);
         transform: translateX(-3px) rotateY(-2deg)
     }

     87.5% {
         -webkit-transform: translateX(2px) rotateY(1deg);
         transform: translateX(2px) rotateY(1deg)
     }

     100% {
         -webkit-transform: translateX(0);
         transform: translateX(0)
     }
 }

 @keyframes moltinShake {
     12.5% {
         -webkit-transform: translateX(-6px) rotateY(-5deg);
         transform: translateX(-6px) rotateY(-5deg)
     }

     37.5% {
         -webkit-transform: translateX(5px) rotateY(4deg);
         transform: translateX(5px) rotateY(4deg)
     }

     62.5% {
         -webkit-transform: translateX(-3px) rotateY(-2deg);
         transform: translateX(-3px) rotateY(-2deg)
     }

     87.5% {
         -webkit-transform: translateX(2px) rotateY(1deg);
         transform: translateX(2px) rotateY(1deg)
     }

     100% {
         -webkit-transform: translateX(0);
         transform: translateX(0)
     }
 }

 .invalid {
     -webkit-animation: moltinShake .4s ease-in-out .1s normal forwards 1 running;
     animation: moltinShake .4s ease-in-out .1s normal forwards 1 running
 }

 .btn {
     margin: 0;
     font-size: 0.875rem;
     line-height: 26px;


     &.btn--primary {
         background: $brand-color; color:$brand-color-inverse;
         
     }

     &.btn--secondary {
         background: $secondary-color; color:$secondary-color-inverse;
         
     }

     &.btn--white {
         background: #fff;
         color: #000;
     }

     &.btn-outline-primary {
         background: none;
         border-color: $brand-color;
         color: $brand-color;
     }

     &.btn-outline-secondary {
         background: none;
         border-color: $secondary-color;
         color: $secondary-color;
     }

     &.btn-outline-white {
         background: none;
         border-color: #fff;
         color: #fff;
     }
     
     &.btn-outline-gray {
         background: none;
         border-color:$border-color;
         color: $body-color;
     }

     &.btn--block {
         display: block;
         width: 100%;
     }

     &.btn--sm {
         padding: 0.25rem 0.5rem;
         font-size: 0.875rem;
         line-height: 1.5;
         border-radius: 0.2rem;
     }

     &.btn--md {}

     &.btn--lg {}

     &.btn--xl {}
 }


 .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
 .btn-group > .btn-group:not(:last-child) > .btn {
     border-top-#{$end-direction}-radius: 0;
     border-bottom-#{$end-direction}-radius: 0;
 }

 .btn-group > .btn:not(:first-child),
 .btn-group > .btn-group:not(:first-child) > .btn {
     border-top-#{$start-direction}-radius: 0;
     border-bottom-#{$start-direction}-radius: 0;
 }

 button:focus,
 .btn:focus {
     outline: none;
     box-shadow: none !important;
 }

 a.link {
     color: $brand-color;
     position: relative;
     font-size: 0.875rem;
	 white-space:nowrap;

     &:after {
         content: "";
         position: absolute;
         height: 1px;
         bottom: -2px;
         #{$start-direction}: 0;
         #{$end-direction}: 0;
         background: $brand-color; color:$brand-color-inverse;
         -webkit-transform-origin: bottom left;
         transform-origin: bottom left;
         -webkit-transform: scaleX(1);
         transform: scaleX(1);
         transition: -webkit-transform .3s ease-in-out;
         -webkit-transition: -webkit-transform .3s ease-in-out;
         transition: transform .3s ease-in-out;
         transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
     }

     &:hover {
         &:after {
             -webkit-transform: scaleX(0);
             transform: scaleX(0);
             -webkit-transform-origin: bottom right;
             transform-origin: bottom right;
         }
     }
 }