 @-webkit-keyframes moltinShake {
     12.5% {
         -webkit-transform: translateX(-6px) rotateY(-5deg);
         transform: translateX(-6px) rotateY(-5deg)
     }

     37.5% {
         -webkit-transform: translateX(5px) rotateY(4deg);
         transform: translateX(5px) rotateY(4deg)
     }

     62.5% {
         -webkit-transform: translateX(-3px) rotateY(-2deg);
         transform: translateX(-3px) rotateY(-2deg)
     }

     87.5% {
         -webkit-transform: translateX(2px) rotateY(1deg);
         transform: translateX(2px) rotateY(1deg)
     }

     100% {
         -webkit-transform: translateX(0);
         transform: translateX(0)
     }
 }

 @keyframes moltinShake {
     12.5% {
         -webkit-transform: translateX(-6px) rotateY(-5deg);
         transform: translateX(-6px) rotateY(-5deg)
     }

     37.5% {
         -webkit-transform: translateX(5px) rotateY(4deg);
         transform: translateX(5px) rotateY(4deg)
     }

     62.5% {
         -webkit-transform: translateX(-3px) rotateY(-2deg);
         transform: translateX(-3px) rotateY(-2deg)
     }

     87.5% {
         -webkit-transform: translateX(2px) rotateY(1deg);
         transform: translateX(2px) rotateY(1deg)
     }

     100% {
         -webkit-transform: translateX(0);
         transform: translateX(0)
     }
 }

 .invalid {
     -webkit-animation: moltinShake .4s ease-in-out .1s normal forwards 1 running;
     animation: moltinShake .4s ease-in-out .1s normal forwards 1 running
 }

 .btn {


     &.btn--primary {
         background: $brand-color;
         color: #fff;
     }

     &.btn--secondary {
         background: $secondary-color;
         color: #fff;
     }

     &.btn-outline-primary {
         background: none;
         border-color: $brand-color;
         color: $brand-color;
     }

     &.btn-outline-secondary {
         background: none;
         border-color: $secondary-color;
         color: $secondary-color;
     }

     &.btn--block {
         display: block;
         width: 100%;
     }

     &.btn--sm {
         padding: 0.25rem 0.5rem;
         font-size: 0.875rem;
         line-height: 1.5;
         border-radius: 0.2rem;
     }

     &.btn--md {}

     &.btn--lg {}

     &.btn--xl {}


 }