.cards {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    border-radius: 6px;
    /*margin-bottom: 1rem;*/
    height: 100%;
    @include media-breakpoint-down(md) {
        & {
            word-break: normal;
        }
    }
    &-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.5rem;
        color: $body-color;
        .cards-title {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 1.1rem;
            a {
                color: $body-color;
            }
        }
        &~.cards-content {
            padding-top: 0;
        }
    }
    &-content {
        padding: 1rem;
        /*height: inherit;*/
    }
}