.certified-bar {
    background: $gray-light;
    border-top: $border;
    border-bottom: $border;

    ul {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center;

        @include media-breakpoint-down(lg) {
            & {
                justify-content: flex-start;
            }
        }

    }


    .certified-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 1rem;

        .icn {
            margin: 0 auto;
            margin-bottom: 10px;

            svg {
                width: 24px;
                height: 24px;
                fill: #575757;
            }
        }

        p {
            font-size: 0.875rem;
            color: #575757;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;

            a {
                color: #575757;
            }
        }

    }
}