
.flat-ui {
    text-align: center;
    margin: 120px auto;
}

.flat-ui img {
    display: inline-block;
    margin-bottom: 25px;
}

.flat-ui h1 {
    font-size: 4em;
    font-weight: 600;
    color: #000;
    line-height: 1;
}

.flat-ui h1 span {
    line-height: 1;
    display: block;
    font-size: 1rem;
}

.block--empty .block__img {
    display: block;
    margin: 20px auto 30px !important;
    opacity: 0.4;
}

.block--empty {
    padding: 20px;
}

.block--empty h1 {
    padding: 0 0 20px 0;
    font-size: 4em;
}

.block--empty h2 {
    padding: 0 0 10px 0;
    font-size: 1.5em;
}

.block--empty h4 {
    font-size: 1.1em;
    padding-bottom: 20px;
}

.block--empty h6 {
    font-weight: 300;
}

.block--empty .error__img {
    width: 449px;
    display: block;
    margin: 20px auto 0;
}