.dropdown__target {
    border-radius: 4px;
    z-index: 10;
    left: 0;
    top: 110%;
    background: #fff;
    -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.20);
    position: absolute;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.dropdown__target:before {
    content: "";
    display: block;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    -webkit-border-end: 6px solid transparent;
    -moz-border-end: 6px solid transparent;
    border-inline-end: 6px solid transparent;
    position: absolute;
    top: -6px;
    left: 20px;
}

.dropdown__target__right {
    left: auto;
    right: 0;
}

.dropdown__target__right:before {
    left: auto;
    right: 20px;
}

.dropdown.is-active .dropdown__target {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

.dropdown__target-space {
    padding: 15px 25px;
    min-width: 200px;
}

.dropdown__target-head {
    padding: 15px;
    background: var(--first-color);
}

.dropdown__target-head p {
    margin: 6px 0 0;
    color: #fff;
    font-size: 0.9em;
}

.dropdown__target-head p a {
    color: #fff;
    text-decoration: underline;
}

.dropdown__target-head .link {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin: 5px 0;
    padding: 2px 20px 4px;
}

.dropdown__target .iconavtar {
    border: 2px solid #fff;
    display: block;
    position: relative;
    margin: 0 auto 5px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #fff;
    padding: 2px;
}

.dropdown__target .iconavtar .icon,
.dropdown__target .iconavtar img {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: var(--first-color);
    font-size: 2.5em;
    line-height: 1;
}

.dropdown__target .scroll-y {
    max-height: 350px;
    /*  overflow-y: auto;*/
}


.dropdown.is-active .dropdown__target .list-vertical li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

/**/
.dropdown-menu {
    border: 0 !important;
    margin: 0;
    border-radius: 0;
    min-width: 14rem;
    padding: 0;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    padding: 1rem 0;
    border-radius: 4px;
    left: 0;
}

.nav-block {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    .expand-heading {
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    .nav__item {
        display: block;
        border: none;

        .nav__link {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: .55rem 1.75rem;
            cursor: pointer;
            -webkit-transition: all .3s;
            transition: all 0.3s;
        }
    }

}