input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    outline: none;
    font-family: inherit;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
}

input[type="text"],
input[type="password"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background: transparent !important;
}



input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="text"][disabled],
input[type="password"][disabled] {
    cursor: not-allowed;
}

input[type="text"][disabled],
input[type="password"][disabled] {
    background: rgba(0, 0, 0, 0.04);
    color: #000;
}

select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="search"],
input[type="password"],
input[type="date"],
input[type="url"],
input[type="tel"],
textarea,
select,
input[type="number"],
input[type="file"] {
    background-color: #fff;
    border: $border;
    height: 2.5rem;
    padding: 0 10px;
    width: 100%;
    color: $body-color;
    font-family: inherit;
    font-size: 0.9em;
    font-weight: normal;
    border-radius: 4px;
    text-align: inherit;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border-color: #8C96A9;
    outline: 0;
    outline: thin dotted \9;
}

input[type="file"] {
    height: auto;
    padding: 8px 10px;
}



.form {
    .field-set {
        margin: 0.7rem 0;
    }

    .form__cover {
        padding: 1rem;
        background: #f5f5f5;
        border-radius: 4px;
    }

    .field_label {
        font-size: 0.9em;
        color: #555;
        margin: 0;
        margin-bottom: 5px;
        display: inline-block;
        min-height: none;
        cursor: default;
        /*opacity: 0.6;*/

        &:empty {
            min-height: 18px;
        }
    }

    select {
        -webkit-padding-end: 35px;
        -moz-padding-end: 35px;
        padding-#{$end-direction}: 35px;
        background-image: url(../images/retina/down-arrow.svg);
        background-size: 10px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: calc(100% - 11px) center;

        [dir="rtl"] & {
            background-position: calc(0% - -11px) center;
        }
    }



    textarea {
        resize: vertical;
        height: 120px;
        padding: 10px;

        &.txtarea-height {
            height: 85px;
        }
    }



    input {
        &[type="submit"] {
            position: relative;
            display: inline-block;
            margin: 0 0px;
            border: none;
            border: solid 1px transparent;
            border-radius: 4px;
            padding: 0 16px;
            min-width: 64px;
            height: 2.5rem;
            vertical-align: middle;
            text-align: center;
            background: $brand-color;
            color: $brand-color-inverse;
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 2.375rem;
            overflow: hidden;
            outline: none;
            cursor: pointer;

            -webkit-transition: -webkit-box-shadow 0.2s;
            transition: -webkit-box-shadow 0.2s;
            transition: box-shadow 0.2s;
            transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
            /*margin-#{$end-direction}: 5px;*/
        }

        &[type="button"] {
            @extend input[type="submit"];
            background: none;
            border-color: $brand-color;
            color: $brand-color;

            &.btn--primary {
                background: $brand-color;
                color: $brand-color-inverse;
            }
        }

        &[type="reset"] {
            @extend input[type="button"];

        }

        &.is-invalid {
            border-color: red;
        }

    }

    .btn--block {
        display: block;
        width: 100%;
    }

    .text--small {
        display: block;
    }

}

.note-messages {
    font-size: 13px;
    color: #cea14b;
    padding: 5px 0;
    display: inline-block;
    font-style: italic;
}



.thanks-msg {
    display: block;
    font-style: italic;
    margin: 10px auto;
    text-align: center;
}



.btn--fileupload {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.btn--fileupload input {
    opacity: 0;
    position: absolute;
    #{$start-direction}: 0;
    #{$end-direction}: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    height: auto !important;
}

.uploadedphoto {
    margin: 25px 0;
    display: block;
}

.uploadedphoto img {
    display: inline-block;
    vertical-align: top;
    margin-#{$end-direction}: 10px;
    max-width: 150px;
}






form.custom-form {
    display: table;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    input[type="text"] {
        width: auto;
        margin: 0;


        margin-#{$end-direction}: 5px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    input[type="submit"] {
        margin: 0;
    }
}

.form-otp {
    .otp-row {
        display: flex;
        align-items: center;
    }

    .otp-col {
        display: flex;
        align-items: center;
        flex: 1;

        input {
            text-align: center;
        }
    }
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;

    input {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;

        &:not(:first-child) {
            border-top-#{$start-direction}-radius: 0;
            border-bottom-#{$start-direction}-radius: 0;
        }

        &:not(:last-child) {
            border-top-#{$end-direction}-radius: 0;
            border-bottom-#{$end-direction}-radius: 0;
        }

    }
}

.icon-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .btn {
        margin-#{$start-direction}: 5px;
    }
}

.form-text {
    font-size: 0.7rem;
}