.saved-cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    li {
        border-radius: $radius4;
        border: $border;
        background: #fff;
        padding: 1rem;
        position: relative;
        &.selected {
            background: #4862e2 url(images/visa-bg.jpg) no-repeat center;
            border-color: #4862e2;
            box-shadow: 0 2px 4px 0 #cfd7df;
            .cards-detail {
                h6,
                p {
                    color: #fff;
                }
            }
        }
        .radio {
            position: absolute;
            top: 21px;
            #{$end-direction}: 21px;
        }
        .cards-detail {
            h6 {
                color: $txt-gray;
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 2px;
            }
            p {
                color: $body-color;
                font-size: 0.9rem;
                font-weight: 600;
            }
        }
    }
}