.social-profiles {}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 0.5em 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    -webkit-transition: all 265ms ease-out;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    background: $brand-color;
    -webkit-transition: all 265ms ease-out;
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 265ms ease-in;
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: $brand-color;
    background: $brand-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 265ms ease-in;
    transition: all 265ms ease-in;
}



.share-button {
    position: relative;
}

.social-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px $brand-color;
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 2px;
}

.share-button .icn {
    height: inherit;
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-toggle .icn svg {
    width: 12px;
    height: 12px;
    fill: $brand-color;
}

.social-toggle:hover {}

.no-js .social-toggle,
.no-js .social-toggle:hover {
    cursor: default;
    border: none;
    background: transparent;
    color: rgb(200, 200, 200);
    pointer-events: none;
}

.social-networks {
    /*
	-webkit-transform-origin: 50%;
	-ms-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transform: scale(0) translateY(-150px);
	transform: scale(0) translateY(-150px);
*/
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    /* stops flickering */
    /*	-webkit-backface-visibility: hidden;*/
    position: absolute;
    top: 100%;
    z-index: 1;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 4px;
    /*min-width: 180px;*/
    #{$start-direction}: 50%;
    -webkit-transform: scaleY(0) translateX(-50%);
    transform: scaleY(0) translateX(-50%);
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.social-networks.open-menu,
.no-js .social-networks {
    /*
	-webkit-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
*/

    -webkit-transform: scaleY(1) translateX(-50%);
    transform: scaleY(1) translateX(-50%);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;

}

.social-networks ul {
    position: relative;
    top: 0;
    #{$start-direction}: 0;
    color: #fff;
    margin: auto;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.social-networks li {
    font-size: 1rem;
    font-weight: 600;
    width: 36px;
    height: 36px;
    margin: 2px;
    text-align: center;
    display: block;
    line-height: 36px;
    position: relative;
    border-radius: 50%;
    z-index: 2;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.social-networks .icn svg {
    fill: #fff;
    width: 15px;
    height: 15px;
}

.share-button a {
    text-decoration: none;
}

.social-networks a {
    display: block;
    color: #fff;
    width: inherit;
    height: inherit;

}

.social-facebook {
    background: #3b5998;
}

.social-twitter {
    background: #6cdfea;
}

.social-gplus {
    background: #e34429;
}

.social-email {
    background: #9b9a9a;
}

.social-pintrest {
    background: #c8232c;
}

.social-networks a:hover {
    color: #222;
}

.share-button--static-horizontal {
    display: inline-block;
    /*display: flex;
	align-items: center;
	justify-content: center;*/
}

.share-button--static-horizontal .social-networks {
    /*position: static*/
}

.share-button--static-horizontal .social-networks ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}