$brand-color: #ff3a59 !default;
$primary-color: #ff0055 !default;
$secondary-color: #6DCDEF !default;
$third-color: #474747 !default;
$body-color: #353638 !default;
$dark-color: #282a3c !default;
$light-color: #ffffff !default;
$gray-color: #f6f6f8 !default;
$gray-light: #f8f8f8 !default;

$primary-color: #5867dd !default;
$success-color: #1dc9b7 !default;
$warning-color: #ffb822 !default;
$info-color: #5578eb !default;
$danger-color: #fd397a !default;

$border-color: #E8E7EA !default;
$border-dark-color: #E8E7EA !default;
$border-light-color: #E8E7EA !default;
$body-color: #525252 !default;


$border: solid 1px $border-color !default;
$border-transparent: solid 1px  transparent !default;


$font-color: #474747 !default;
$font-color2: #474747 !default;






