.header {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    font-weight: 300;
    background: #fff;
    border-bottom: none;
    border-bottom: $border;
    .top-bar {
        padding: 0;
        fill: #fff;
        background: $brand-color;
        color: $brand-color-inverse;
        transition: all 300ms linear 0s;
        -webkit-transition: all 300ms linear 0s;
        -ms-transition: all 300ms linear 0s;
        font-size: 0.775em;
        a {
            color: inherit;
            padding: 8px 0.8rem;
        }
        .slogan {
            line-height: 1;
            color: inherit;
            padding: 8px 0;
        }
        .short-links {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            @include media-breakpoint-down(sm) {
                & {
                    justify-content: flex-start;
                }
            }
            >ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                >li {
                    display: block;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    vertical-align: top;
                    &:after {
                        top: 0;
                        bottom: 0;
                        #{$start-direction}: 0;
                        position: absolute;
                        content: "";
                        background: rgba(255, 255, 255, 0.4);
                        width: 1px;
                        height: 100%;
                    }
                    &:first-child {
                        margin-#{$end-direction}: 0;
                        &:after {
                            content: normal;
                        }
                    }
                    >.dropdown {
                        >a {
                            color: inherit;
                            display: block;
                            line-height: 1;
                            text-decoration: none;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                        }
                    }
                    .icn {
                        svg {
                            width: 15px;
                            height: 15px;
                            margin-#{$end-direction}: 5px;
                            fill: inherit;
                        }
                    }
                }
            }
            .icon--img {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                margin-#{$end-direction}: 5px;
            }
        }
        .logout {
            font-weight: 600;
            border-top: $border;
        }
    }
    .logo-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .logo {
        width: 120px;
        margin: 10px 0;
        margin-#{$end-direction}: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        @include media-breakpoint-down(lg) {
            & {
                margin: 0 auto;
                max-width: 100px;
            }
        }
        img {
            &[data-ratio="16:9"] {
                max-width: 120px;
            }
            &[data-ratio="1:1"] {
                max-width: 60px;
            }
        }
    }
    .last-bar {
        border-top: $border;
        @include media-breakpoint-down(lg) {
            & {
                border: none;
            }
        }
    }
}

.main-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    @include media-breakpoint-down(lg) {
        & {
            flex: none;
        }
    }
    .toggle--search {
        display: none;
        @include media-breakpoint-down(lg) {
            & {
                display: block;
                padding: 10px;
            }
        }
        .icn {
            width: 42px;
            height: 42px;
            background-size: 22px;
            border: none;
            border-radius: $radius3;
        }
        .icn {
            vertical-align: top;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            svg {
                width: 20px;
                height: 20px;
                fill: $brand-color;
            }
        }
        .icn-txt {
            vertical-align: top;
            font-size: 0.8em;
            font-weight: 400;
        }
    }
}

.form--search {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 15px auto;
    max-width: 850px;
    .main-search-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex: 1;
        width: 100%;
        border-radius: $radius4;
        border: solid 1px $brand-color;
        .main-search__field {
            position: relative;
            width: 100%;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .search--keyword {
            border: none;
            border-radius: 0px;
            padding: 10px;
            font-size: 0.8em;
            background: none;
            color: #000000;
            border: none;
            font-weight: 300;
            height: 36px;
            flex: 1;
            width: 100%;
            @include media-breakpoint-down(lg) {
                & {}
            }
        }
        .scroll-y {
            max-height: 350px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .form--search-popup {
        margin: 0;
        padding: 10px;
        position: fixed;
        #{$start-direction}: 0;
        #{$end-direction}: 0;
        top: 30px;
        z-index: 10;
        -webkit-transition: all 400ms ease-in;
        transition: all 400ms ease-in;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 100%;
        pointer-events: none;
        @include media-breakpoint-down(lg) {
            &--on & {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
        .close-layer {
            top: 20px;
            #{$end-direction}: 20px;
            display: none;
        }
        .select__cover {
            float: none;
        }
        .form__cover {
            #{$start-direction}: 5%;
            #{$end-direction}: 5%;
            form {
                display: block;
                input[type="text"],
                select {
                    display: block;
                    width: 100%;
                    border: none;
                    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
                }
                input[type="text"] {
                    border: none;
                }
                input[type="submit"] {
                    position: static;
                    display: block;
                    margin: 0;
                    width: 100%;
                    background-color: #000;
                }
            }
        }
        .dropdown__target {
            position: absolute;
            top: 100%;
            height: auto;
            -webkit-transform: translate(0, 0) scale(1) !important;
            transform: translate(0, 0) scale(1) !important;
            pointer-events: none;
            #{$start-direction}: 0;
            #{$end-direction}: 0;
            border-radius: 0;
        }
        .link__close {
            display: block;
            #{$end-direction}: 10px;
        }
    }
}

.dropdown.is-active .dropdown__target {
    pointer-events: auto;
}

.is--form-visible {
    #{$start-direction}: 0;
    #{$end-direction}: 0;
    top: 0;
    bottom: 0;
}

.select__value {
    color: $body-color;
    display: block;
    padding-#{$start-direction}: 15px;
    padding-#{$end-direction}: 35px;
    position: relative;
    vertical-align: top;
    line-height: 36px;
    height: 36px;
    border-#{$end-direction}: solid 1px $brand-color;
    font-size: 0.8em;
    cursor: pointer;
    &:after {
        border-#{$start-direction}: 5px solid rgba(0, 0, 0, 0);
        border-#{$end-direction}: 5px solid rgba(0, 0, 0, 0);
        border-top: 5px solid $brand-color;
        content: "";
        pointer-events: none;
        position: absolute;
        #{$end-direction}: 14px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.search--btn {
    min-width: 60px;
    height: 36px;
    background-image: url(../images/retina/magni-white.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $brand-color;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: #fff;
    font-size: 0;
    font-weight: 300;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    &:hover {}
    @include media-breakpoint-down(lg) {
        & {}
    }
}

.cart {
    float: right;
    position: relative;
    -webkit-padding-start: 3.125rem;
    -moz-padding-start: 3.125rem;
    padding-#{$start-direction}: 3.125rem;
    @include media-breakpoint-down(lg) {
        & {
            padding: 0;
        }
    }
    >a {
        padding: 10px 0;
        margin: 5px 0;
        display: inline-block;
        color: inherit;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: #{$end-direction};
        @include media-breakpoint-down(lg) {
            & {
                padding: 0;
                margin: 0;
            }
        }
    }
    span.icn {
        vertical-align: top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: solid 1px $brand-color;
        margin-#{$end-direction}: 10px;
        @include media-breakpoint-down(lg) {
            & {
                margin: 0;
                width: 40px;
                height: 40px;
                border-radius: 0;
                border: none;
                border-radius: $radius3;
            }
        }
        svg {
            width: 28px;
            height: 28px;
            fill: $brand-color;
            @include media-breakpoint-down(lg) {
                & {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .icn-txt {
        color: inherit;
        font-size: 0.8em;
        font-weight: 400;
        text-transform: uppercase;
        @include media-breakpoint-down(lg) {
            & {
                display: none;
            }
        }
        strong {
            display: block;
            font-weight: 300;
        }
        .cartValue {}
    }
    .cartQuantity {
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 13px;
        #{$start-direction}: 30px;
        border: solid 1px $brand-color;
        background: $brand-color;
        color: $brand-color-inverse;
        font-size: 0.5rem;
        text-align: center;
        vertical-align: middle;
        line-height: 0.9rem;
    }
}

.close-layer {
    z-index: 2;
    position: absolute;
    #{$end-direction}: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &:hover {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        opacity: 1;
    }
    &:before,
    &:after {
        position: absolute;
        #{$start-direction}: 15px;
        content: ' ';
        height: 18px;
        width: 2px;
        background-color: #000;
    }
    &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &.close-layer--white {
        &:before,
        &:after {
            background-color: #fff;
        }
    }
}