/*Yokart CSS*/
/*header*/
#header {
    color: var(--header-txt-color);
    position: fixed;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    font-weight: 300;
    background: #fff;
    /*height: 158px;*/
    border-bottom: none;
    /*box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.20);*/
    border-bottom: solid 1px var(--border-color);
}

.after-header {
    /*height: 158px;*/
}


.top-bar {
    padding: 0;
    color: #fff;
    background: var(--first-color);
    /*  height: 2.5rem;*/
    transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
}

.last-bar {
    border-top: solid 1px var(--border-color);
}


body.fixed #header {
    height: auto;
    -webkit-box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.20);
}

body.fixed .top-bar {
    margin-top: -32px;
}

@media(min-width:1199px) {
    body.fixed .last-bar {
        display: none;
    }
}

.slogan {
    line-height: 1;
    color: inherit;
    font-size: 0.775em;
    padding: 8px 0;
}

.right-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
}

.short-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.short-links > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    ;
}

.short-links > ul > li {
    display: inline-block;
    margin: 0 15px;
    /*padding: 14px 0;*/
    padding: 8px 0;
    position: relative;
    vertical-align: top;
}


.short-links > ul > li:after {
    top: 25%;
    position: absolute;
    right: -16px;
    content: "";
    background: rgba(255, 255, 255, 0.4);
    width: 1px;
    bottom: 25%;
    height: 50%;
}

.short-links > ul > li:last-child:after {
    content: normal;
}

.short-links > ul > li:last-child {
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
    margin-inline-end: 0;
}

.short-links > ul > li > a {
    color: inherit;
    display: block;
    font-size: 0.775em;
    padding: 0px;
    line-height: 1;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.short-links > ul > li > a span {
    font-size: inherit;
}

.short-links > ul > li > a .icn svg {
    width: 15px;
    height: 15px;
    -webkit-margin-end: 5px;
    -moz-margin-end: 5px;
    margin-inline-end: 5px;
    fill: #fff;
}

.logo-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    width: 150px;
    max-height: 60px;
    margin: 0px 0;
    -webkit-margin-end: 3.125rem;
    -moz-margin-end: 3.125rem;
    margin-inline-end: 3.125rem;
    -webkit-margin-inline-end: 3.125rem;
    -ms-margin-inline-end: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.logo img {
    max-height: 100%;
}

/*new search*/
.main-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.toggle--search {
    display: none;
}

.toggle--search .icn {
    /*background: url(../images/retina/magni-black.svg) no-repeat center;
	background-size: 20px 20px;*/
    vertical-align: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.toggle--search .icn svg {
    width: 20px;
    height: 20px;
    fill: var(--first-color);
}

.toggle--search .icn-txt {
    vertical-align: top;
    font-size: 0.8em;
    font-weight: 400;
}

.form--search {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 4px;
    margin: 15px auto;
    max-width: 850px;
    border: solid 1px var(--first-color);
}

.main-search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.fixed .form--search-popup {
    top: 0;
}

.is--form-visible {
    /*	position: fixed;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.select__value {
    white-space: nowrap;
    color: #888;
    display: block;
    padding: 0 35px 0 15px;
    position: relative;
    vertical-align: top;
    line-height: 36px;
    height: 36px;
    -webkit-border-end: solid 1px var(--first-color);
    -moz-border-end: solid 1px var(--first-color);
    border-inline-end: solid 1px var(--first-color);
    font-size: 0.8em;
    cursor: pointer;
}

.select__value::after {
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid var(--first-color);
    content: "";
    pointer-events: none;
    position: absolute;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-search-form .search--keyword {
    border: none;
    border-radius: 0px;
    padding: 10px;
    font-size: 0.8em;
    background: none;
    color: #000000;
    border: none;
    font-weight: 300;
    height: 36px;
}

.search--btn {
    width: auto;
    height: 36px;
    background-image: url(../images/retina/magni-white.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-color: var(--first-color);
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    -webkit-padding-end: 22px;
    -moz-padding-end: 22px;
    padding-inline-end: 22px;
    -webkit-padding-start: 43px;
    -moz-padding-start: 43px;
    padding-inline-start: 43px;
    background-size: 22px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.search--btn:hover {}

/*search end*/
.close-layer {
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.close-layer:hover {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
}

.close-layer:before,
.close-layer:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: #000;
}

.close-layer--white:after,
.close-layer--white:before {
    background-color: #fff;
}

.close-layer:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-layer:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}