[dir="rtl"] {

    body {
        direction: rtl;
        text-align: right;
    }

    .text-right {
        text-align: left !important;
    }

    .text-left {
        text-align: right !important;
    }

    .ltr-right {
        direction: ltr;
        text-align: right;
    }

    .checkbox input,
    .radio input,
    .checkbox .input-helper:before,
    .radio .input-helper:before,
    .bullet-list li:before,
    .container--cms ul li:before,
    .box.box--list .links--vertical li .fa {
        right: 0;
        #{$start-direction}: auto;
    }

    .radio .input-helper::after {
        right: 4px;
        #{$start-direction}: auto;
    }

    .checkbox .input-helper:after {
        right: 3px;
        #{$start-direction}: auto;
    }

    .breadcrumbs ul li:before {
        right: auto;
        #{$start-direction}: 10px;
    }

    #facebox .close,
    .close,
    .system_message .closeMsg {
        right: auto;
        #{$start-direction}: 10px;
    }

    #facebox .close {
        right: auto;
        #{$start-direction}: 0;
    }

    .listing--check li a {
        background-position: top right;
        background-size: 16px;
    }

    .listing--check li.is-active a,
    .listing--check li a:hover {
        background-position: top right;
        background-size: 16px;
    }

    .listing--check li.is-active a:after {
        #{$start-direction}: auto;
        right: 6px;
    }

    .coupon-offers li:before {
        #{$start-direction}: auto;
        right: 0;
    }

    #mbsmessage .content::before,
    .system_message .content::before {
        #{$start-direction}: auto;
        right: -45px;
    }

    .testimonial-blocks .description:before {
        #{$start-direction}: auto;
        right: 0;
    }

    .cms-editor ul li:before {
        #{$start-direction}: auto;
        right: 0;
    }

    .statistics__box h4:before {
        right: 0;
    }

    select {
        background-position: 11px center;
    }

    input[type="text"].p-cards {
        background-position: left 3px;
    }

    input[type="text"].p-cards.amex {
        background-position: -135px -34px;
    }

    input[type="text"].p-cards.visa {
        background-position: -135px -70px;
    }

    input[type="text"].p-cards.master {
        background-position: -135px -106px;
    }

    input[type="text"].p-cards.meastro {
        background-position: -135px -141px;
    }

    .cat-accordion .acc-trigger {
        #{$start-direction}: 0;
        right: auto;
    }

    .media--details > li .grid--first {
        padding-right: 0;
        padding-#{$start-direction}: 20px;
    }

    .post-data .sticky-element {
        #{$start-direction}: auto;
        right: -90px;
    }

    .post-data.is-fixed .sticky-element {
        #{$start-direction}: auto;
        right: 50%;
        margin: 0 -700px 0 0;
    }

    .search-form {
        right: auto;
        #{$start-direction}: 0;
    }

    .nav-blog {
        text-align: left;
    }

    .likes-count li .icn-like,
    .likes-count li .icn-msg {
        margin-right: 0;
        margin-#{$start-direction}: 10px;
    }

    .post__detail {
        text-align: right;
    }

    .nav--toggled > ul > li > a {
        padding: 12px 10px 12px 40px;
    }

    .nav--toggled > ul > li ul li a {
        padding: 10px 15px 10px 40px;
    }

    .nav--toggled > ul > li .link--toggle {
        right: auto;
        #{$start-direction}: 0;
    }

    .selected-panel-type::before {
        #{$start-direction}: auto;
        right: 0;
    }

    .selected-panel-type {
        padding-#{$start-direction}: 0;
        padding-right: 25px;
    }

    .selected-panel-action {
        text-align: left;
    }

    .payment_methods_list li a {}

    .payment_methods_list li a:before {
        #{$start-direction}: auto;
        right: 15px;
    }

    .payment_methods_list li.is-active:after {
        #{$start-direction}: auto;
        right: 10px;
    }

    .summary-listing .product_price {
        clear: left;
    }

    .summary-listing .product_qty {
        float: right;
        clear: right;
    }

    .boxcontainer .box--gray .fa {
        #{$start-direction}: auto;
        right: 20px;
    }

    .boxcontainer .box--gray {
        padding: 30px 110px 20px 40px;
    }

    .widgets-heading::after {
        right: auto;
        #{$start-direction}: 0;
    }

    .group--social-onehalf .fb-color {
        margin-right: 0;
        margin-#{$start-direction}: 10px;
    }

    .pagination li.next,
    .pagination li.prev,
    .pagination li.forward,
    .pagination li.rewind {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .media > li .avtar {
        margin-right: 0px;
        margin-#{$start-direction}: 10px;
    }

    .delivery-term-data-inner ul li:before {
        #{$start-direction}: auto;
        right: 0;
    }

    .selected-filters a::after {
        right: auto;
        #{$start-direction}: 4px;
    }

    .list-vertical--tick li.is-active:before {
        #{$start-direction}: auto;
        right: -15px;
    }

    .dropsection {
        right: auto;
        #{$start-direction}: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .table--justify tr td:last-child {
        text-align: left;
    }


    .dropdown__target {
        #{$start-direction}: auto;
        right: 0;
    }

    .dropdown__target:before {
        #{$start-direction}: auto;
        right: 20px;
    }



    .divider--filters:after {
        #{$start-direction}: auto;
        right: 0;
    }

    .alert--process:before {
        #{$start-direction}: auto;
        right: 15px;
    }

    .sold-by .products__rating {
        padding-right: 0;
    }



    .wrap-drop:before {
        right: auto;
        #{$start-direction}: 16px;
    }

    .wrap-drop:after {
        right: auto;
        #{$start-direction}: 22px;
    }

    .widget-scroll .slick-prev {
        right: -28px;
        #{$start-direction}: auto;
    }

    .widget-scroll .slick-next {
        #{$start-direction}: -28px;
        right: auto;
    }

    .product-gallery .slick-dots {
        #{$start-direction}: 0;
        right: auto;
    }

    .product-gallery .slick-arrow {
        background: #5c5c5c;
        top: auto;
        bottom: 20px;
        #{$start-direction}: calc(50% - 50px);
        right: auto;
    }

    .product-gallery .slick-prev {
        right: calc(50% - 50px);
        margin: 0;
        #{$start-direction}: auto;
    }

    .slick-prev:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-#{$start-direction}: -5px;
    }

    .slick-next:after {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        margin-#{$start-direction}: -3px;
    }

    .favourite {
        right: auto;
        #{$start-direction}: 15px;
    }

    .close-layer {
        #{$start-direction}: 10px;
        right: auto;
    }

    .listing-products--list .products__footer {
        padding: 15px 20px 0 0;
        text-align: right;
    }

    .breadcrumbs ul li:before {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
    }

    .sub-form input[type="submit"] {
        border-radius: 2px 0 0 2px;
    }

    .ft-products .products--layout .products__footer {
        text-align: right;
        padding: 20px 0 20px 20px;
    }

    .ft-products .products--layout .products__footer .products__title {
        padding-right: 0;
    }

    .login-wrapper .forgot {
        text-align: left;
    }

    .slider-nav {
        float: right;
    }

    .favourite-wrapper-detail {
        right: auto;
        #{$start-direction}: 0;
    }

    .dashboard-menu .menu__item__inner::before {
        #{$start-direction}: auto;
        right: 0;
    }

    .discount-slider .slick-arrow.slick-prev {
        #{$start-direction}: 20px;
        right: auto;
    }

    .discount-slider .slick-arrow.slick-next {
        #{$start-direction}: 0;
        right: auto;
    }

    .checkout-flow li:after {
        right: auto;
        #{$start-direction}: -60%;
    }

    .address .address-inner span.radio {
        #{$start-direction}: auto;
        right: -2rem;
    }

    .fld-date {}

    .testimonials-item .user {
        #{$start-direction}: auto;
        right: 25px;
    }

    .listing--check li a:before {
        #{$start-direction}: auto;
        right: 0;
    }

    .short-links > ul > li:after {
        right: auto;
        #{$start-direction}: -16px;
    }

    .slick-prev {
        #{$start-direction}: auto;
        right: 0;
    }

    .slick-next,
    .filterDiv:after {
        right: auto;
        #{$start-direction}: 0;
    }

    .tooltip--right .hovertxt {
        right: auto;
        #{$start-direction}: 0;
    }

    .tooltip--right .hovertxt:before {
        right: auto;
        #{$start-direction}: 10px;

    }

    .sidebar {
        #{$start-direction}: auto;
        right: 0;
    }

    .sidebar-is-expanded .header-dashboard {
        padding-#{$start-direction}: 20px;
    }

    .logo-dashboard {
        #{$start-direction}: auto;
        right: 10px;
    }

    .dashboard-menu .accordianbody li a {
        padding-#{$start-direction}: 0;
        padding-right: 70px;
    }

    .header-icons-group {
        margin-#{$start-direction}: 0;
        margin-right: auto;
    }


    .header-icons-group .dropdown__target {
        #{$start-direction}: 0;
        right: auto;
    }

    .header-icons-group .dropdown__target:before {
        #{$start-direction}: 20px;
        right: auto;
    }

    .select-categories-slider .slick-prev {
        #{$start-direction}: -40px;
    }

    .select-categories-slider .slick-next {
        right: -40px;
    }



    /*All media queries */
    @media only screen and (max-width: 1600px) {
        .post-data.is-fixed .sticky-element {
            margin: 0;
        }
    }

    @media only screen and (max-width: 1199px) {
        .navs_toggle {
            #{$start-direction}: auto;
            right: 8px;
        }

        .seller-login {
            text-align: right;
        }

        .navigations > li {
            float: none;
        }

        .main-search {
            float: left;
        }

        .list--vertical li .parents--link:after {
            right: auto;
            #{$start-direction}: 10px;
        }

        .wrapper-menu {
            right: auto;
            #{$start-direction}: 0;
        }

        .wrapper-menu.open .line-menu.start {
            -webkit-transform: rotate(-90deg) translateX(-5px);
            transform: rotate(-90deg) translateX(-5px);
        }

        .wrapper-menu.open .line-menu.end {
            -webkit-transform: rotate(-90deg) translateX(5px);
            transform: rotate(-90deg) translateX(5px);
        }

        .wrapper-menu .line-menu.start {
            -webkit-transform-origin: left;
            transform-origin: left;
        }

        .wrapper-menu .line-menu.end {
            -webkit-transform-origin: right;
            transform-origin: right;
        }


        .navigation-wrapper {
            transform: translate(100%, 0);
            -moz-transform: translate(100%, 0);
            -webkit-transform: translate(100%, 0);
            right: -100%;
            #{$start-direction}: auto;
        }

        body.toggled_left .navigation-wrapper {
            right: 0;
        }

        .navigations > li .link__mobilenav {
            right: auto;
            #{$start-direction}: 0;
        }

        .navigations > li > a {
            text-align: right;
        }



        .dropdown__target__right {
            #{$start-direction}: 0;
            right: auto;
        }

        .dropdown__target__right:before {
            #{$start-direction}: 20px;
            right: auto;
        }

        .main-search-form .search--keyword {
            border-radius: 4px 0 0 4px;
            border-#{$start-direction}: solid 1px $brand-color;
        }

        .cart-is-active .dropsection {
            right: auto;
            #{$start-direction}: 50%;
            transition: none;
            -webkit-transition: none;
            -ms-transition: none;
        }


        .form--search-popup .dropdown__target {
            #{$start-direction}: auto;
            right: 15px;
        }

        .favourite-wrapper-detail {
            right: auto;
            #{$start-direction}: 30px;
        }

        .col-details-right {
            padding-right: 15px;
        }

        .slider-for {
            padding-right: 0;
        }
    }

    @media only screen and (max-width: 767px) {

        .f-links h3:after,
        .f-links h3:before {
            right: auto;
            #{$start-direction}: 0;
        }

        .tabs--scroll:after {
            right: auto;
            #{$start-direction}: 0px;
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }

        .toggle--nav-vertical:after,
        .toggle--nav-vertical:before {
            right: auto;
            #{$start-direction}: 15px;
        }

        .short-links > ul > li.dropdown--user:last-child {
            margin-right: auto;
            margin-#{$start-direction}: 0;
        }

        .short-links > ul > li.dropdown--lang {
            margin-right: 0;
        }

        .cart-is-active .dropsection {
            #{$start-direction}: 0;
        }

        .footer .toggle__trigger {
            text-align: right;
        }

        .footer .toggle__trigger:before,
        .settings-group .btn.btn--bordered-inverse:before {
            right: auto;
            #{$start-direction}: 15px;
        }



        .form--search-popup .dropdown__target {
            #{$start-direction}: 0;
            right: 0;
        }

    }

    @media only screen and (max-width:500px) {

        .page-sort ul li .btn--filters-control.btn--primary-border,
        .page-sort ul li:nth-last-child(2) {
            margin-#{$start-direction}: 0;
            margin-right: auto;
        }
    }

    @media only screen and (max-width: 1080px) {
        .hamburger-toggle {
            right: 35px;
        }

        .hamburger-toggle.is-opened {
            #{$start-direction}: auto;
            right: 0;
        }

        .fld-date {
            background: none !important;
            -webkit-padding-end: 10px;
            -moz-padding-end: 10px;
            padding-inline-end: 10px;
        }
    }

    @media only screen and (max-width: 767px) {
        .widget-scroll .slick-prev {
            right: 0;
        }

        .widget-scroll .slick-next {
            #{$start-direction}: 0;
        }

        .ft-pro-wrapper {
            background: none;
            border: none;
        }
    }
}