.header-supplier {
    .logo-bar {
        padding: 10px 0;

        @include media-breakpoint-down(sm) {
            & {}
        }

        .logo {
            margin: 0;

        }
    }

    .seller-login {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;


        @include media-breakpoint-down(md) {
            & {
                padding: 1rem;
                flex-direction: column;
            }
        }

        .field-set {
            margin-bottom: 0;
            -webkit-margin-start: 10px;
            -moz-margin-start: 10px;
            margin-inline-start: 10px;

            @include media-breakpoint-down(md) {
                & {
                    margin: 0.5rem 0;
                    width: 100%;

                    input {
                       &[type="submit"] {
                            width: 100%;
                        }
                    }

                }
            }

        }



        .forgot {
            margin-inline-start: 10px;
        }
    }

    .seller_login_toggle {
        display: none;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        color: var(--body-color);
        font-size: 1.5rem;
        cursor: pointer;
        align-items: center;
        justify-content: center;


        @include media-breakpoint-down(md) {
            & {
                display: flex;
            }
        }
    }

    .seller_nav_toggle {
        @extend .seller_login_toggle;
    }
}

.header-advertiser {
    @extend .header-supplier;
}

.header-affiliate {
    @extend .header-advertiser;
}

.short-nav {

    @include media-breakpoint-down(md) {
        & {
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);
            box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);
            z-index: 1050;
            position: fixed;
            -webkit-overflow-scrolling: touch;
            top: 0;
            left: -280px;
            bottom: 0;
            overflow-y: auto;
            -webkit-transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            width: 280px;
            -webkit-transition: left 0.3s ease, right 0.3s ease;
            transition: left 0.3s ease, right 0.3s ease;

            ul {
                display: flex;
                flex-direction: column;
            }
        }

        &--on & {
            background: var(--gray-light);
            padding: 0;
            left: 0;
            visibility: visible;
        }
    }

    li {
        display: inline-block;
        vertical-align: top;

        a {
            display: block;
            font-size: 0.8em;
            padding: 6px 10px;
            color: var(--txt-color)
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}


.bottom-head {
    background: rgba(0, 0, 0, 0.1);
}

.banner {
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    background-attachment: fixed;
    background-size: cover;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        content: "";
        opacity: 0.5;
        background: #232526;
        /* fallback for old browsers */
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-gradient(linear, left top, right top, from(#414345), to(#232526));
        background: linear-gradient(to right, #414345, #232526);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .container {
        position: relative;
        z-index: 1;
    }
}


.seller-slogan {
    position: relative;
    color: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;

    .seller-slogan-txt {
        position: static;
        bottom: 0;
        color: #fff;

        h3 {
            font-size: 3rem;
            color: inherit;
            font-weight: 600;

            span {
                display: block;
                font-size: 2rem;
                color: inherit;
            }
        }

        p {
            color: inherit;
        }
    }

    ul li {
        display: inline-block;
        margin-right: 20px;
    }
}



.seller-register-form {
    margin: 3.125rem 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    border-radius: 4px;
}

.seller-register-form.affiliate-register-form {
    max-width: none;
}

.seller-register-form .message {
    padding: 0 20px;
}

.features {
    padding: 100px 0;
}

.growth {
    max-width: 520px;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: none !important;
    display: block;
    color: #000;
    font-size: 1.5em;

}

.growth strong {
    font-size: 2em;
}

.growth-txt {
    border-left: solid 1px var(--border-color);
    padding-left: 120px;
}

.growth-txt li {
    margin-bottom: 50px;
    display: table;
    width: 100%;
}

.growth-txt li:last-child {
    margin-bottom: 0;
}

.growth-txt i.icn {
    float: left;
    margin-right: 30px;
}

.growth-txt p {
    color: var(--txt-color-light);
}

.simple-step {
    background: #f8f8f8 url(../images/bg-step-slider.png) no-repeat center bottom;

}

.simple-step .heading1 {
    text-align: center;
    display: block;
}

.seller-steps-slider {
    position: relative;
    height: 410px;
}

.simple-price {
    background: var(--second-color);
    text-align: center;
    color: #fff;
}

.pricing-structure {
    margin-top: 30px;
}

.pricing-structure ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pricing-structure ul li {
    display: inline-block;
    vertical-align: top;
    color: inherit;
    margin: 20px 0;
    text-align: center;
}

.pricing-structure ul li.sign {
    font-size: 3em;
    font-weight: 700;
    opacity: 0.4;
}

.pricing-structure ul li span {
    font-size: 4em;
    font-weight: 700;
    line-height: 1;
}

.pricing-structure ul li p {
    line-height: 1;
    color: inherit;
    display: block;
}

.simple-price p {
    color: inherit;
    max-width: 1000px;
    font-size: 0.9em;
    margin: 20px auto;
}

.simple-price a.btn--custom {
    color: inherit;
    border-width: 2px;
}



.cta-left,
.cta-right {
    padding: 25px 0;
    margin-bottom: 20px;
}

.cta-right {
    border-left: solid 1px var(--border-color);
    padding-left: 100px;
}

/*Seller registration*/
.registeration-process {
    margin: 1rem auto;
    padding-bottom: 12px;
    display: block;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.registeration-process ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
}

.registeration-process ul li {
    display: inline-block;
    font-size: 0.85em;
    color: var(--txt-color);
    -webkit-margin-end: 1rem;
    -moz-margin-end: 1rem;
    margin-inline-end: 1rem;
    position: relative;
    white-space: nowrap;
}

.registeration-process ul li:first-child {
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    margin-inline-start: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-inline-start: 0;
}

.registeration-process ul li a {
    color: inherit;
}

.registeration-process ul li.is--active,
.registeration-process ul li:hover {
    color: var(--first-color);
}

.registeration-process ul li.is--active a {
    /*  font-weight: 600;*/
}

.registeration-process ul li:after {
    content: "";
    bottom: -10px;
    background: var(--first-color);
    height: 2px;
    position: absolute;
    z-index: 12;
    left: 0;
    right: 100%;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.registeration-process ul li.is--active:after {
    content: " ";
    position: absolute;
    background: var(--first-color);
}

.registeration-process ul li:hover:after,
.registeration-process ul li.is--active:after {
    right: 0;
}

.yk-login--wrapper {

    @include media-breakpoint-down(md) {

        & {
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);
            box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);
            z-index: 1050;
            position: fixed;
            -webkit-overflow-scrolling: touch;
            top: 0;
            left: -280px;
            bottom: 0;
            overflow-y: auto;
            -webkit-transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            width: 280px;
            -webkit-transition: left 0.3s ease, right 0.3s ease;
            transition: left 0.3s ease, right 0.3s ease;
        }

        &--on & {

            left: 0;
            visibility: visible;
        }
    }
}





.seller-steps {
    text-align: center;
    margin: 0 auto;
}

.seller-steps ul {
    margin: 50px auto 0 auto;
}

.seller-steps li {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    width: 25%;
    margin: 0 -2px;
    vertical-align: top;
}



.seller-steps .icn {
    margin: 20px auto;
    display: block;
    text-align: center;
    width: 100px;
    height: 100px;
    position: relative;
}

.seller-steps .icn:before {
    position: relative;
    display: block;
    content: "";
    padding-bottom: 100%;
}

.seller-steps .icn img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.seller-steps h3 {
    color: #000;
    font-size: 1.25em;
    line-height: 1.3;
    font-weight: 400;
}

.seller-steps p {
    font-size: 0.9375em;
    line-height: 1.3;
}

@media only screen and (max-width: 767px) {
    .seller-steps li {
        width: 100%;
    }

    .banner {
        height: auto;
        padding: 30px 0;
    }

    .growth {
        background-position: left bottom;
        padding-bottom: 110px;
        margin-bottom: 40px;
    }

    .growth-txt {
        padding: 0;
        border-left: none;
    }

    .pricing-structure ul li {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .pricing-structure ul li p {
        margin: 0;
    }

    .cta-right {
        border-left: none;
        padding-left: 0;
    }

    .pricing-structure ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}