/*Shops page*/
.bg-shop {}

.shop-banner {
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    /*height: 0;
	padding-bottom: 25%;
}

.shop-banner img {
	/*
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;*/
}

.btn .icn svg,
.btn .icn img {
    width: 15px;
    height: 15px;
    -webkit-margin-end: 8px;
    -moz-margin-end: 8px;
    margin-inline-end: 8px;
    fill: #fff;
}



.shop-name {
    margin-bottom: 1rem;
}

.shop-name span {
    font-size: 0.775rem;
    color: var(--txt-color-light);
}

.blk-txt {
    display: block;
}

.shop-col {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.shop-logo-wrapper {
    background-color: var(--gray-light);
    background-position: center;
    height: 100%;
    max-height: 545px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.shops-sliders {
    position: relative;
    width: 100%;
    height: 100%;
}

.shops-sliders:after {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.shops-sliders img {
    margin: 0 auto;
}



.shops-sliders .slick-dots li {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.shops-sliders .slick-dots li.slick-active {
    width: 30px;
    border-radius: 15px;
}

.shop-information {
    .shop-logo {
        border-radius: 50%;
        width: 170px;
        height: 170px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 1rem;
        background: #fff;
        overflow: hidden;
    }

    .shop-info {
        padding: 0;
        text-align: center;

        .products__rating {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-bottom: 1rem;
        }

    }

    .shop-btn-group {

        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
            background: #9b9a9a;

            &:hover {
                background: var(--first-color);
            }

        }
    }
}

.shop-profile {
    border-radius: 4px;
    border: solid 1px var(--border-color);
}

.shop-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.shoper__dp {
    width: 92px;
    height: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-margin-end: 10px;
    -moz-margin-end: 10px;
    margin-inline-end: 10px;
}

.profile__bio .deg {
    font-weight: 300;
    color: var(--txt-color-light);
    font-size: 0.875rem;
}



.shop-nav {
    padding: 10px 0 0 0;
}

.shop-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.shop-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    padding: 15px 30px;
    margin: 0 5px;
    display: block;
    font-weight: 600;
    position: relative;
}

.shop-nav ul li a:hover,
.shop-nav ul li.is--active a {
    color: #000000;
    background: #fff;
    border-radius: 4px 4px 0 0;
}

.shop-slider .item {
    position: relative;
    max-width: 610px;
    /*min-width: 320px;*/
    margin: 0 15px;
}

.shop-slider .item img {
    border-radius: 4px;
}


.shop-slider .overlay-content {
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(calc(50% - 30px));
    transform: translateY(calc(50% - 30px));
    right: 50px;
    padding: 2rem;
    text-align: left;
    max-width: 210px;
    font-weight: 400;
}

.shop-slider .overlay-content h4 {
    font-weight: inherit;
}


.txt-gray-light {
    color: var(--txt-color-light);
}

/*shop page*/
.banner-shop {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.banner-shop img {
    margin: 0 auto;
}

.abt-shops {
    padding: 20px;
}

.abt-shops .ftshops_logo {
    float: left;
    background: #ededed;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    -webkit-margin-end: 20px;
    -moz-margin-end: 20px;
    margin-inline-end: 20px;
}

.abt-shops .ftshops_logo img {
    max-width: 100%;
}

.abt-shops .ftshops_detail {
    font-size: 1em;
    -webkit-margin-start: 170px;
    -moz-margin-start: 170px;
    margin-inline-start: 170px;
}

.abt-shops .ftshops_item_head_right {
    text-align: right;
    padding: 20px;
}

.abt-shops .ftshops_name {
    font-size: 1.5em;
    color: var(--txt-color);
}

.abt-shops .ftshops_location {
    color: var(--txt-color-light);
    font-size: 1em;
    font-weight: 300;
}

.abt-shops .ftshops_desc {
    padding: 10px 0;
    color: var(--txt-color-light);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 300;
}

.abt-action {
    text-align: right;
    padding: 20px;
}

.shop-owner {
    padding: 0 20px 20px 20px;
    display: inline-block;
    width: auto;
    min-width: 290px;
}

.shop-owner .opened {
    color: #2d2b33;
    font-size: 1em;
    font-weight: 300;
}

.shop-owner .owner-name-pic {
    float: right;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    -webkit-margin-start: 25px;
    -moz-margin-start: 25px;
    margin-inline-start: 25px;
    margin-top: -20px;
}

.shop-owner .owner-name-pic img {
    max-width: 100%;
    border-radius: 50%;
}

.shop-owner .name {
    font-weight: 600;
}

.shop-owner .from {
    color: var(--txt-color-light);
    font-size: 1em;
    font-weight: 300;
}

.shop-links {
    text-align: right;
}

.shop-links li {
    display: inline-block;
    margin: 0 20px;
}

.shop-links li a {
    color: var(--second-color);
    font-weight: 300;
    text-decoration: underline;
}


.shop-template {
    border: solid 2px var(--border-color);
    border-radius: 2px;
    padding: 10px;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 280px;
}

.shop-template.is--active {
    border-color: var(--first-color);
    position: relative;
}

.shop-template.is--active:before {
    border-radius: 50%;
    content: "";
    background-color: var(--first-color);
    background-image: url(images/retina/tick-white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px auto;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}

.shop-template p {
    text-align: center;
    margin: 0;
    display: block;
    padding: 5px 0;
}